{
  "swagger": "2.0",
  "info": {
    "description": "Grand Prix Stats API",
    "version": "0.1",
    "title": "Grand Prix Stats API",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "www.grandprixstats.org",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "F1 Circuit",
      "description": "Circuits where Formula 1® races are held"
    }
  ],
  "paths": {
    "/f1/circuits.json": {
      "get": {
        "tags": [
          "F1 Circuit"
        ],
        "summary": "List of all Formula 1® circuits",
        "description": "Retrieve a list of all Formula 1® circuits",
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/F1Circuit"
              }
            }
          }
        }
      }
    },
    "/test.json": {
      "get": {
        "tags": [
          "Test"
        ],
        "summary": "Gut check test",
        "description": "Hello world",
        "operationId": "f1test",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/Test"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "F1Circuit": {
      "type": "object",
      "properties": {
        "circuitRef": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "Test": {
      "type": "object",
      "properties": {
        "hello": {
          "type": "string"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Visit Grand Prix Stats",
    "url": "https://www.grandprixstats.org"
  }
}